
#app {
	border-radius: 5px;
	
	padding: 5px;
	margin: 5px;

	color: var(--text-color);

	text-align: center;
}

#app > div:not([data-attr="title"]) {
	margin: 80px auto;
}

#title {
	margin: 55px 0;
}

#title-name {
	font-size: 4em;
}

#song-container {
	width: 600px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
	background: #181818;
	border-radius: 10px;
}

#song-info {
	display: flex;
}


#links li {
  list-style: none;
  margin: 0 5px;
}

#links {
  width: 30%;
  margin: 10px auto;

  text-align: center;
}

#links ul {
  display: flex;
  justify-content: center;
  align-items: center;


  padding: 0;
}

#links a {
  transition: .4s ease;
  color: var(--link-color);
  text-decoration: none;

  font-size: 1.5em;

  font-style: italic;
}

#links a:hover {
  color: var(--link-selected-color);
  text-shadow: 0 0 4px var(--link-color);
}





